/*
Author: Samiya Ramos
Date: April 2nd, 2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body */
body {
    padding: 2%;
    background-color: #d1d1e0;
}

/* Style rules for header */
/* Header */
header {
    text-align: center;
}

header h1 {
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
}

/* Style rules for nav */
/* Nav */
nav {
    background-color: #47476b;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #e3eaf8;
    padding: 0.5em 2em;
}

/* Style rules for main */
/* Main */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto; /* Updated to set overflow property to auto */
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
    font-size: 2em;
}

/* Style rules for footer */
/* Footer */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
    clear: left; /* Updated to clear float on the left */
}


