/* Stylesheet by [Samiya Ramos] - [April 2nd, 2024] - styles.css */

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and image */
/* Body background color */
body {
    background-color: #e3eaf8;
}

/* Image styling */
img {
    max-width: 100%;
    display: block;
}

/* Style rule for header content */
/* Header h1 styling */
header h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #101a2d;
}

/* Style rules for navigation area */
/* Nav styling */
nav {
    background-color: #1d396d;
}

/* Nav ul styling */
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

/* Nav li styling */
nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

/* Nav li a styling */
nav li a {
    display: block;
    color: #e3eaf8;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
/* Main styling */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;
}

/* Main p styling */
main p {
    font-size: 1.25em;
}

/* Main h3 styling */
main h3 {
    padding-top: 2%;
    font-size: 2em;
}

/* ID selector image styling */
#image {
    width: 45%;
    float: left;
    padding: 1%;
}

/* ID selector group styling */
#group {
    width: 45%;
    float: right;
}

/* Class selector external styling */
.external {
    color: #1d396d;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

/* Style rules for footer content */
/* Footer styling */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1d396d;
    color: #e3eaf8;
    padding: 1% 0%;
}

/* Footer a styling */
footer a {
    color: #e3eaf8;
    text-decoration: none;
}
